@charset "utf-8";
/* =======================================================
* max-width: 1145px
* ======================================================= */
@media screen and (max-width: 1145px) {
	/* ヘッダー */
	#menu-btn {
		display: block;
		width: 24px;
		height: 24px;
		cursor: pointer;
		position: absolute;
		right: 3%;
		transition: 0.5s;
		z-index: 1001;
	}

	#menu-btn.open {
		box-sizing: content-box;
		right: 0;
		padding: 1rem 2rem;
	}

	#menu-btn.open::before,
	#menu-btn.open::after {
		background-color: #141414;
	}

	nav {
		margin: 1.6% 0 2.1%;
	}

	nav ul li {
		display: block;
		border-top: 1px solid #DDD;
		position: relative;
		padding-right: 1%;
	}

	nav li:last-of-type {
		text-align: center;
		padding: 2.1%;
	}

	nav ul li a {
		padding: 1% 0;
	}

	nav ul li p a {
		padding: 0 0 1.1% 2.2%;
	}
	/* /ヘッダー */

		#news .container,
		#about .container,
		#registration .container,
		#under .container {
			padding: 7.4% 3.7%;
		}
}

/* =======================================================
* max-width: 770px
* ======================================================= */
@media screen and (max-width: 770px) {
	body {
		font-size: 1.3rem;
	}





	#eyecatch h2 {
		font-size: 2rem;
		padding: 18.5% 9.3%;
	}



	.news-inner li {
		display: block;
		padding-bottom: 4%;
	}

	.date {
		display: flex;
	}

	.tag .date::after {
		display: block;
		background: #FE0000;
		border-radius: 0.5rem;
		color: #FFF;
		content: "NEW";
		padding: 0 1.5rem;
		margin-left: 1rem;
	}

	.title {
		padding: 0;
	}

	/* フッター */
	footer {
		padding: 4%;
	}

	/* ページトップ */
	#page-top a {
		width: 5rem;
		height: 5rem;
	}

	#page-top {
		right: 3%;
	}

	footer img {
		width: 25%;
	}

	/* /フッター */

	/* 下層共通 */
	.breadcrumb {
    padding-bottom: 8%;
	}

}

/* =======================================================
* max-width: 420px
* ======================================================= */
@media screen and (max-width: 576px) {

		/* アニメーション */
		[data-animate][fade-in-up] {
      -webkit-transform:translateY(1.8vh);
      transform: translateY(1.8vh);
    }

		.ie [data-animate][fade-in-up] {
      -webkit-transform:none;
      transform: none;
    }

		[data-animate=active][fade-in-up] {
      -webkit-transform:translateY(0);
      transform: translateY(0);
    }

}
